/* Redefine base colors */
.root {
    -fx-base: rgb(70, 70, 70);
    -fx-background: rgb(70, 70, 70);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(45, 45, 45);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(45, 45, 45);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

.list-cell {
    -fx-padding: 0 0 0 0;
}

.perfscope-call-tree-timestamp {
    -fx-fill: rgb(161, 201, 52);
}

.perfscope-threads-list-item {
    -fx-fill: rgb(169, 183, 198);
}

.perfscope-threads-list-item.search-highlighted {
    -fx-fill: rgb(0, 255, 255);
}

.perfscope-threads-list-item.selected {
    -fx-background-color: rgb(0, 80, 100);
}

.perfscope-bright-text {
    -fx-fill: rgb(255, 191, 30);
}

.perfscope-error-text {
    -fx-fill: rgb(255, 30, 30);
}

.perfscope-help-text {
    -fx-fill: rgb(169, 183, 198);
}

.perfscope-call-tree {
    -fx-fill: rgb(169, 183, 198);
}

.perfscope-call-tree-class.perfscope-call-tree-bold {
    -fx-fill: rgb(169, 183, 198);
}

.perfscope-call-tree-bracket {
    -fx-fill: rgb(255,140,0);
    -fx-font-weight: bold;
}

.perfscope-call-tree-printed.perfscope-call-tree-bold {
    -fx-fill: rgb(0, 102, 204);
}

.perfscope-call-tree-object-value {
    -fx-fill: rgb(169, 183, 198);
}

.perfscope-call-tree-thrown {
    -fx-fill: rgb(255, 84, 80);
}

.perfscope-call-tree-method-name.perfscope-call-tree-instance-method-name {
}

.perfscope-call-tree-object-repr {
    -fx-fill: rgb(169, 183, 198);
}

.perfscope-call-tree-arg-name {
    -fx-fill: rgb(169, 183, 198);
}

.perfscope-call-tree-sep {
    -fx-fill: rgb(169, 183, 198);
}

.perfscope-call-tree-sep {
    -fx-text-fill: white;
}

.perfscope-call-tree-call-node {
    -fx-background-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-min-height: 20;
    -fx-max-height: 20;
}